<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%=title%></title>

<!-- Bootstrap, Font Awesome, Aminate, Owl Carausel, Normalize CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/animate.css" rel="stylesheet" type="text/css" />
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="css/owl.theme.default.css" rel="stylesheet" type="text/css" />
<link href="css/normalize.css" rel="stylesheet" type="text/css" />
<link href="css/slicknav.min.css" rel="stylesheet" type="text/css" />

<!-- Site CSS -->

<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<!-- Modernizr JS -->
<script src="js/modernizr-3.5.0.min.js"></script>

<!--favincon-->
<link rel="apple-touch-icon" sizes="57x57" href="https://assets.rumsan.com/askbhunte/assets/bhunte.png	">
<link rel="icon" type="image/png" sizes="16x16" href="https://assets.rumsan.com/askbhunte/assets/bhunte.png	">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<!--Poprup-->
<link href="css/popup.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.bpopup.min.js"></script>