<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<%- include('layouts/header') %>
	<%- include('meta/index')%>
</head>

<body>

	<div id="page-content-wrapper">
		<%- include('layouts/navbar')%>

		<!--main slider-->
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="container">
					<div class="primary margin-15">
						<div class="row" style="text-align: justify">
							<div class="col-md-8">
								<h1>ABOUT ASK BHUNTE
								</h1><br />
								<p>Ask Bhunte is an AI-enabled bot that has the capabilities to answer day to day
									queries regarding Vegetables’ / Fruits’ price, SEE result, others Academic Results,
									Stocks, Dollar rates, Weather, Movies’ Showtimes, Bullion market (gold/silver
									price), Restaurants, Banks, Daily Horoscope, Crypto Updates and much more.Staying in
									line with our philosophy we introduce Ask Bhunte, a chatbot service that allows you
									to reach people on platforms that your audience prefers, enabling two-way
									conversations at a scale. </p>
								<p>
									Ask Bhunte is designed to complement your website and social media presence, having
									scripted conversations with potential leads to help solve common problems and build
									strong relationships. It also helps businesses to generate and nurture more relevant
									leads, collect better data and improve their sales potential by data analysis.Ask
									Bhunte is more than just an information bot. Behind every conversation, our AI goes
									to work creating profiles based on customer behavior. This can not only help
									understand interests and concerns but also predict products and services that they
									might be interested in. We create detailed analytics on the customers’ behavior that
									can be used for better sales and support experience. This data can help businesses
									understand the market value of the product and can plan their digital marketing
									strategies accordingly.

								</p>
							</div>
							<div class="col-md-4"></div>
						</div><br />
					</div>
					<!--.primary-->
				</div>
			</div>
		</div>
		<!--main slider-->
		<%- include('layouts/footer') %>

	</div>
</body>

</html>