<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<%- include('layouts/header') %>
	<%- include('meta/index') %>
</head>

<body>

	<div id="page-content-wrapper">
		<%- include('layouts/navbar')%>

		<!--main slider-->
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="container">
					<div class="primary margin-15">
						<div class="row" style="text-align: justify">
							<div class="col-md-8">
								<h1>READ MORE ABOUT CHATBOT</h1><br />
								<p>Chatbots are essentially a set of automated rules
									that
									interact with people on chat.
									Chatbots leverage the power of software and increasingly, AI, to reduce the
									human
									workload on business areas such as customer service and technical support. Bots
									can
									also act as a sort of instant Frequently Asked Questions answer machine. Or they
									can
									serve up suggestions and help the user make a purchasing decision.</p>
								<img src="https://assets.rumsan.com/askbhunte/assets/messenger.png" class="float-left"
									height="50%">
								<p>
									Messaging apps are one of the fastest-growing platforms for digital marketing.
									If
									your business wants to stay ahead, consider implementing a chatbot. They can be
									very
									powerful for communicating with your customers over messaging apps and website
									chat.
									Just as the first companies to adopt websites in the 90s were soon leaving their
									competitors far behind, the early adopters of chatbots will be rewarded as the
									market matures. As more and more people get accustomed to interacting with an
									intelligent bot, bot-less businesses will look outdated and out of touch.

								</p>
							</div>
							<div class="col-md-4"></div>
						</div><br />
						<div class="row" style="margin-bottom: 20px;text-align: justify;">
							<div class="col-md-2">
								<img src="https://assets.rumsan.com/askbhunte/assets/customer-satisfaction.png"
									alt="customer-satisfaction" height="100px" width="100px"><br /><br />
								<p>
									Improve customer satisfaction by being instantaneously responsive
								</p>
							</div>
							<div class="col-md-2">
								<img src="https://assets.rumsan.com/askbhunte/assets/cost-saving.png" alt="cost-saving"
									height="100px" width="100px"><br /><br />
								<p>Cut-down operation cost on low-value contacts and increase
									productivity</p>
							</div>
							<div class=" col-md-2">
								<img src="https://assets.rumsan.com/askbhunte/assets/channel-marketing.png"
									alt="channel-marketing" height="100px" width="100px"><br /><br />
								<p>
									A new channel for marketing and sales with high delivery rates
								</p>
							</div>
							<div class=" col-md-2">
								<img src="https://assets.rumsan.com/askbhunte/assets/data-collection.png"
									alt="data-collection" height="100px" width="100px"><br /><br />
								<p>
									More leads, more feedback, more data for business.
								</p>
							</div>
						</div>
					</div>
					<!--.primary-->
				</div>
			</div>
		</div>
		<!--main slider-->
		<%- include('layouts/footer') %>

	</div>
</body>

</html>