<!DOCTYPE html>
<html>

<head>
    <title> Data Security - Ask Bhunte</title>
    <%- include('meta') %>
    <link rel="stylesheet prefetch"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
    <style>
        .search-field {
            max-width: 800px;
            height: 80px;
            font-size: 24px;
            padding: 10px 20px;
            background: white;
            border-radius: 3px;
            box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
    </style>
</head>

<body class="no-js">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a href="/"><img src="https://assets.rumsan.com/askbhunte/assets/bhunte.png" class="img-fluid"
                            style="width:100px; " alt=""></a>
                </div>
                <div class="col-12" style="margin-top: 20px;">
                    <div class="card">
                        <div class="card-body">
                            <h3>Data Security</h3>
                            <p>Data Security is a process of protecting files, databases, and accounts on a network by
                                adopting
                                a set of controls, applications, and techniques that identify the relative importance of
                                different datasets, their sensitivity, regulatory compliance requirements and then
                                applying
                                appropriate protections to secure those resources.</p>

                            <p>Similar to other approaches like perimeter security, file security or user behavioral
                                security,
                                data security is not the be all, end all for a security practice. It&rsquo;s one method
                                of
                                evaluating and reducing the risk that comes with storing any kind of data.</p>

                            <h2>What are the Main Elements of Data Security?</h2>

                            <p>The core elements of data security are confidentiality, integrity, and availability. Also
                                known
                                as the&nbsp;<a href="https://www.varonis.com/blog/cia-triad/">CIA triad</a>, this is a
                                security
                                model and guide for organizations to keep their sensitive data protected from
                                unauthorized
                                access and data exfiltration.</p>

                            <ul>
                                <li><strong>Confidentiality</strong>&nbsp;ensures that data is accessed only by
                                    authorized
                                    individuals;</li>
                                <li><strong>Integrity&nbsp;</strong>ensures that information is reliable as well as
                                    accurate;
                                    and</li>
                                <li><strong>Availability</strong>&nbsp;ensures that data is both available and
                                    accessible to
                                    satisfy business needs.</li>
                            </ul>

                            <h2>What are Data Security Considerations?</h2>

                            <p>There are a few data security considerations you should have on your radar:</p>

                            <ul>
                                <li><strong>Where is your sensitive data located?</strong>&nbsp;You won&rsquo;t know how
                                    to
                                    protect your data if you don&rsquo;t know where your&nbsp;<a
                                        href="https://www.varonis.com/products/data-classification-engine/">sensitive
                                        data</a>&nbsp;is stored.</li>
                                <li><strong>Who has access to your data?</strong>&nbsp;When users have unchecked access
                                    or
                                    infrequent&nbsp;<a
                                        href="https://www.varonis.com/guides/how-to/perform-entitlement-reviews/">permission
                                        reviews</a>, it leaves organizations at risk of data abuse, theft or misuse.
                                    Knowing who
                                    has access to your company&rsquo;s data at all times is one of the most vital data
                                    security
                                    considerations to have.</li>
                                <li><strong>Have you implemented continuous monitoring and real-time alerting on your
                                        data?</strong>&nbsp;Continuous monitoring and real-time&nbsp;<a
                                        href="https://www.varonis.com/blog/real-time-alerting-and-monitoring-with-varonis-datalert/">alerting</a>&nbsp;are
                                    important not just to meet compliance regulations, but can detect unusual file
                                    activity,
                                    suspicious accounts, and computer behavior before it&rsquo;s too late.</li>
                            </ul>

                            <h2>What are Data Security Technologies?</h2>

                            <p>The following are data security technologies used to prevent breaches, reduce risk and
                                sustain
                                protections.</p>

                            <h3>Data Auditing</h3>

                            <p>The question isn&rsquo;t if a security breach occurs, but&nbsp;<em>when</em>&nbsp;a
                                security
                                breach will occur. When forensics gets involved in investigating the root cause of a
                                breach,
                                having a&nbsp;<a href="https://www.varonis.com/products/datadvantage/">data
                                    auditing</a>&nbsp;solution in place to capture and report on access control changes
                                to data,
                                who had access to sensitive data, when it was accessed, file path, etc. are vital to the
                                investigation process.</p>

                            <p>Alternatively, with proper data auditing solutions, IT administrators can gain the
                                visibility
                                necessary to&nbsp;<em>prevent&nbsp;</em>unauthorized changes and potential breaches.</p>

                            <h3>Data Real-Time Alerts</h3>

                            <p>Typically it takes companies several months (or&nbsp;<a
                                    href="https://www.itgovernanceusa.com/blog/how-long-does-it-take-to-detect-a-cyber-attack">206
                                    days</a>) to discover a breach. Companies often find out about breaches through
                                their
                                customers or third parties instead of their own IT departments.</p>

                            <p>By monitoring data activity and suspicious behavior in&nbsp;<a
                                    href="https://www.varonis.com/products/datalert/">real-time</a>, you can discover
                                more
                                quickly security breaches that lead to accidental destruction, loss, alteration,
                                unauthorized
                                disclosure of, or access to personal data.</p>

                            <h3>Data Risk Assessment</h3>

                            <p><a href="https://info.varonis.com/risk-assessment">Data risk assessments</a>&nbsp;help
                                companies
                                identify their most overexposed sensitive data and offer reliable and repeatable steps
                                to
                                prioritize and fix serious security risks. The process starts with identifying sensitive
                                data
                                accessed via global groups, stale data, and/or inconsistent permissions. Risk
                                assessments
                                summarize important findings, expose data vulnerabilities, provide a detailed
                                explanation of
                                each vulnerability, and include prioritized remediation recommendations.</p>

                            <h3>Data Minimization</h3>

                            <p>The last decade of IT management has seen a shift in the perception of data. Previously,
                                having
                                more data was almost always better than less. You could never be sure ahead of time what
                                you
                                might want to do with it.</p>

                            <p>Today, data is a liability. The threat of a reputation-destroying data breach, loss in
                                the
                                millions or stiff regulatory fines all reinforce the thought that collecting anything
                                beyond the
                                minimum amount of sensitive data is extremely dangerous.</p>

                            <p>To that end: follow data minimization best practices and review all&nbsp;<a
                                    href="https://www.varonis.com/blog/privacy-design-cheat-sheet/">data
                                    collection</a>&nbsp;needs and procedures from a business standpoint.</p>

                            <h3>Purge Stale Data</h3>

                            <p>Data that is not on your network is data that can&rsquo;t be compromised. Put in systems
                                that can
                                track file access and automatically&nbsp;<a
                                    href="https://www.varonis.com/guides/how-to/discover-stale-data/">archive unused
                                    files</a>.
                                In the modern age of yearly acquisitions, reorganizations and &ldquo;synergistic
                                relocations,&rdquo; it&rsquo;s quite likely that networks of any significant size have
                                multiple
                                forgotten servers that are kept around for no good reason.</p>

                            <h2><strong>How Do You Ensure Data Security?</strong></h2>

                            <p>While data security isn&rsquo;t a panacea, you can take several steps to ensure data
                                security.
                                Here are a few that we recommend.</p>

                            <h3>Quarantine Sensitive Files</h3>

                            <p>A rookie data management error is placing a&nbsp;<a
                                    href="https://www.varonis.com/blog/data-classification/">sensitive file</a>&nbsp;on
                                a share
                                open to the entire company. Quickly get control of your data with data security software
                                that
                                continually classifies sensitive data and&nbsp;<a
                                    href="https://www.varonis.com/products/data-transport-engine/">move</a>s data to a
                                secure
                                location.</p>

                            <h3>Track User Behavior against Data Groups</h3>

                            <p>The general term plaguing rights management within an organization is
                                &ldquo;overpermissioning&rsquo;. That temporary project or rights granted on the network
                                rapidly
                                becomes a convoluted web of interdependencies that result in users collectively having
                                access to
                                far more data on the network than they need for their role. Limit a user&rsquo;s damage
                                with
                                data security software that profiles&nbsp;<a
                                    href="https://www.varonis.com/blog/the-difference-between-uba-and-ueba/">user
                                    behavior</a>&nbsp;and automatically puts in place permissions to match that
                                behavior.</p>

                            <h3>Respect Data Privacy</h3>

                            <p><a href="https://www.varonis.com/blog/data-privacy/">Data Privacy</a>&nbsp;is a distinct
                                aspect
                                of cybersecurity dealing with the rights of individuals and the proper handling of data
                                under
                                your control.</p>

                            <h2><strong>Data Security Regulations</strong></h2>

                            <p>Regulations such as HIPAA (healthcare), SOX (public companies) and GDPR (anyone who knows
                                that
                                the EU exists) are best considered from a data security perspective.&nbsp;From a data
                                security
                                perspective, regulations such as HIPAA, SOX, and GDPR require that organizations:</p>

                            <ul>
                                <li>Track what kinds of sensitive data they possess</li>
                                <li>Be able to produce that data on demand</li>
                                <li>Prove to auditors that they are taking appropriate steps to safeguard the data</li>
                            </ul>

                            <p>These regulations are all in different domains but require a strong data security
                                mindset.
                                Let&rsquo;s take a closer look to see how data security applies under these compliance
                                requirements:</p>

                            <h3><strong>Health Insurance Portability and Accountability
                                    Act</strong>&nbsp;(<strong>HIPAA)</strong></h3>

                            <p>The&nbsp;<a href="https://www.varonis.com/blog/hipaa-compliance/">Health Insurance
                                    Portability
                                    and Accountability Act</a>&nbsp;was legislation passed to regulate health insurance.
                                Section
                                1173d&mdash;<a href="https://www.medscape.org/viewarticle/821650_2">calls</a>&nbsp;for
                                the
                                Department of Health and Human Services &ldquo;to adopt security standards that take
                                into
                                account the technical capabilities of record systems used to maintain health
                                information, the
                                costs of security measures, and the value of audit trails in computerized record
                                system.&rdquo;
                            </p>

                            <p>From a data security point of view, here are a few areas you can focus on to meet HIPAA
                                compliance:</p>

                            <ul>
                                <li><strong>Continually Monitor&nbsp;</strong><a
                                        href="https://www.varonis.com/solutions/data-protection/"><strong>File</strong></a><strong>&nbsp;and&nbsp;</strong><a
                                        href="https://www.varonis.com/products/edge/"><strong>Perimeter</strong></a><strong>&nbsp;Activity
                                        &ndash;&nbsp;</strong>Continually monitor activity and access to sensitive data
                                    &ndash;
                                    not only to achieve HIPAA compliance, but as a general best practice.</li>
                                <li><strong>Access Control</strong>&nbsp;&ndash; Re-compute and revoke permissions to
                                    file share
                                    data by automatically permissioning&nbsp;<a
                                        href="https://www.varonis.com/products/dataprivilege/">access</a>&nbsp;to
                                    individuals
                                    who only have a need-to-know business right.</li>
                                <li><strong>Maintain a Written Record</strong>&nbsp;&ndash; Ensure you keep detailed
                                    activity
                                    records for all user objects including administrators within&nbsp;<a
                                        href="https://www.varonis.com/securing-active-directory/">active
                                        directory</a>&nbsp;and
                                    all data objects within file systems. Generate changes automatically and send to
                                    relevant
                                    parties who need to receive the reports.</li>
                            </ul>

                            <h3>Sarbanes-Oxley (SOX)</h3>

                            <p>The&nbsp;<a href="https://info.varonis.com/varonis-and-sox-compliance">Sarbanes-Oxley Act
                                    of
                                    2002</a>, commonly called &ldquo;SOX&rdquo; or &ldquo;Sarbox,&rdquo; is a United
                                States
                                federal law requiring publicly traded companies to submit an annual assessment of the
                                effectiveness of their internal financial auditing controls.</p>

                            <p>From a data security point of view, here are your focus points to meet SOX compliance:
                            </p>

                            <ul>
                                <li><strong>Auditing and Continuous Monitoring</strong>&nbsp;&ndash; SOX&rsquo;s Section
                                    404 is
                                    the starting point for connecting&nbsp;<a
                                        href="https://www.varonis.com/products/datadvantage/">auditing</a>&nbsp;controls
                                    with
                                    data protection: it asks public companies to include in their annual reports an
                                    assessment
                                    of their internal controls for reliable financial reporting, and an auditor&rsquo;s
                                    attestation.</li>
                                <li><strong>Access Control &ndash;</strong>Controlling&nbsp;<a
                                        href="https://www.varonis.com/products/dataprivilege/">access</a>, especially
                                    administrative access, to critical computer systems is one of the most vital aspects
                                    of SOX
                                    compliance. You&rsquo;ll need to know which administrators changed security settings
                                    and
                                    access permissions to file servers and their contents. The same level of detail is
                                    prudent
                                    for users of data, displaying access history and any changes made to access controls
                                    of
                                    files and folders.</li>
                                <li><strong>Reporting &ndash;&nbsp;</strong>To provide evidence of compliance,
                                    you&rsquo;ll need
                                    detailed&nbsp;<a
                                        href="https://www.varonis.com/guides/how-to/datadvantage-kpi-reports/">reports</a>&nbsp;including:
                                    <ul>
                                        <li>data use, and every user&rsquo;s every file-touch</li>
                                        <li>user activity on sensitive data</li>
                                        <li>changes including permissions changes which affect the access privileges to
                                            a given
                                            file or folder</li>
                                        <li>revoked permissions for data sets, including the names of users</li>
                                    </ul>
                                </li>
                            </ul>

                            <h3>General Data Protection Regulation (GDPR)</h3>

                            <p>The&nbsp;<a
                                    href="https://www.varonis.com/blog/gdpr-requirements-list-in-plain-english/">EU&rsquo;s
                                    General Data Protection Regulation</a>&nbsp;covers the protection of EU citizen
                                personal
                                data, such as social security numbers, date of birth, emails, IP addresses, phone
                                numbers, and
                                account numbers. From a data security point of view, here&rsquo;s what you should focus
                                on to
                                meet GDPR compliance:</p>

                            <ul>
                                <li><strong>Data Classification</strong>&nbsp;&ndash;&nbsp;Know where sensitive personal
                                    data is
                                    stored. It&rsquo;s critical to both protecting the data and also fulfilling requests
                                    to
                                    correct and erase personal data, a requirement known as the&nbsp;<a
                                        href="https://www.varonis.com/guides/gdpr-right-to-be-forgotten/">right to be
                                        forgotten</a>.</li>
                                <li><strong>Continuous Monitoring&nbsp;</strong>&ndash;The breach notification
                                    requirement
                                    enlists data controllers to report the discovery of a breach within 72 hours.
                                    You&rsquo;ll
                                    need to&nbsp;<a href="https://www.varonis.com/products/datalert/">spot unusual
                                        access</a>&nbsp;patterns against files containing personal data. Expect hefty
                                    fines if
                                    you fail to do so.</li>
                                <li><strong>Metadata</strong>&nbsp;&ndash; With the GDPR requirement to set a&nbsp;<a
                                        href="https://www.varonis.com/blog/getting-the-most-out-of-data-transport-engine/">limit</a>&nbsp;on
                                    data retention, you&rsquo;ll need to know the purpose of your data collection.
                                    Personal data
                                    residing on company systems should be regularly reviewed to see whether it needs to
                                    be
                                    archived and moved to cheaper storage or saved for the future.</li>
                                <li><strong>Data Governance&nbsp;</strong>&ndash; Organizations need a plan for&nbsp;<a
                                        href="https://www.varonis.com/products/dataprivilege/">data governance</a>. With
                                    data
                                    security by design as the law, organizations need to understand who is accessing
                                    personal
                                    data in the corporate file system, who should be authorized to access it and limit
                                    file
                                    permission based on employees&rsquo; actual roles and business need.</li>
                            </ul>

                            <p>Source: <a href="https://www.varonis.com/blog/data-security/">Varonis</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 text-center" style="margin: 30px;">
                    <a href="/"><strong> Who is Bhunte?</strong></a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/analytics') %>
</body>

</html>