<!DOCTYPE html>
<html>

<head>
    <title>How to protect yourself</title>
    <%- include('meta') %>
    <link rel="stylesheet prefetch"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
    <style>
        .search-field {
            max-width: 800px;
            height: 80px;
            font-size: 24px;
            padding: 10px 20px;
            background: white;
            border-radius: 3px;
            box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
    </style>
</head>

<body class="no-js">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a href="/"><img src="https://assets.rumsan.com/askbhunte/assets/bhunte.png" class="img-fluid"
                            style="width:100px; " alt=""></a>
                </div>
                <div class="col-12" style="margin-top: 20px;">
                    <div class="card">
                        <div class="card-body">
                            <p><strong>Whether your data has been compromised in Foodmandu and
                                    Vianet
                                    data hack or not, here are few steps you can take to protect yourself</strong></p>

                            <ol>
                                <li>Immediately change your password to all the services that you have used your email
                                    or phone
                                    to signup with. Make sure you choose a strong password (more than 10 characters
                                    mixes with
                                    alphabet, numbers and symbols).</li>
                                <li>Do not give more information than necessary to service providers. If they are asking
                                    for too much information about you, challenge them.</li>
                                <li>If you received unsolicited SMS, phone call or email from the providers you have
                                    never given your info, please report them to concerned authority.</li>
                                <li>DO NOT share your password.</li>
                                <li>DO NOT use same password in multiple services.</li>
                                <li>Periodically (every 2-3 months) change your password to all the services. Make sure
                                    you choose a strong password (more than 10 characters
                                    mixed with
                                    alphabet, numbers and symbols).</li>
                                <li>Use password managers like Chrome, lastpass.</li>
                                <li>Enable Two-factor authentication if your service allows it. If not, please request
                                    the
                                    service provider to add 2FA features to their system.</li>
                                <li>Ask questions to service providers about their data security policy.</li>
                                <li><a href="https://esatya.io">Click Here</a> to learn about Blockchain and how it can
                                    protect your identity in future.</li>
                                <li>Contact Nepal Government or your local representative to bring strong legislation on
                                    data
                                    security and its accontability. Here is twitter handle for <a
                                        href="https://twitter.com/hello_sarkar">Hello
                                        Sarkar</a>. or Call or send text to 1111.</li>
                                <li>Be alert and be ready.</li>
                            </ol>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="https://twitter.com/foodmandu/status/1236996181940555777"
                                        translate="_blank"><img
                                            src="https://pbs.twimg.com/media/ESqxc36UUAAtX8e?format=jpg&name=900x900"
                                            style="width:100%;border:1px solid #eee;padding:10px"></a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://www.vianet.com.np/official-statement-on-data-breach-incident/"
                                        translate="_blank"><img
                                            src="https://pbs.twimg.com/media/EVN2BF4UEAEIyzc?format=jpg&name=900x900"
                                            style="width:100%;border:1px solid #eee;padding:10px"></a>
                                </div>
                            </div>
                            <iframe width="100%" height="400" src="https://www.youtube.com/embed/-ni_PWxrsNo?controls=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
                <div class="col-12 text-center" style="margin-top: 50px;">
                    <a href="/"><strong> Who is Bhunte?</strong></a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/analytics') %>
</body>

</html>